# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
lib/.piolibdeps/
.env
build/

# Project build artifacts
*.elf
*.bin
*.hex
*.map
*.log
*.lst

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]

# Misc
*.swp
*.swo
